
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
	padding: 50px;
	font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f5f5f5;
	color: #777;
}

a {
	color: #39c;
	text-decoration: none;
}

hr {
	border:0;
	background:#e5e5e5;
	height:1px;
	margin: 0 400px 0 0;
}

footer {
	margin: 20px 0 0 0;
}

@media print, screen and (max-width: 960px) {
	body {
		padding: 2px;
	}

	hr {
		margin: 0 5px 0 0;
	}
}